{% block title %} 会員登録{% endblock %}

    {% block contents %}

    <hr>
    <div class="container">
        <div class="row">
            <div class="col offset-2">
                <h3>会員登録</h3>
                <form method = "post">
                    {% csrf_token %}

                    {% for field in form %}
                    <p>

                        {{ field.label_tag }}<br>
                        {{ field }}

                        {% if ifeld.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}

                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                    {% endfor %}
                    <p style="color:red">
                    ※メールアドレスはパスワードをリセットする際に必要になりますので、
                    登録をお願いします。
                    </p>
                    <input type="submit" value="会員登録">
                </form>

                <br>
                <p><a href="#">
                    登録をやめてトップページに戻る</a>
                </p>
                </div>
            </div>
        </div>
        {% endblock %}