{% extends "base.html" %}
{% load static %}

{% block title %}Waste Not/プライバシー{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center">プライバシー規約</h1>
        <p>本プライバシー規約（以下「本規約」）は、WasteNot（ウェイストノット）（以下「本サービス」）が、利用者（以下「ユーザー」）の個人情報をどのように収集、利用、管理するかについて定めたものです。本サービスを利用する際には、本規約に同意したものとみなされます。</p>
        
        <h2>1. 個人情報の収集</h2>
        <p>本サービスは、以下の目的のためにユーザーから個人情報を収集します：</p>
        <ul>
            <li>ユーザー登録（氏名、住所、メールアドレス、電話番号など）</li>
            <li>商品の購入・配送に関する情報</li>
            <li>お問い合わせへの対応</li>
        </ul>

        <h2>2. 個人情報の利用目的</h2>
        <p>本サービスで収集した個人情報は、以下の目的で使用します：</p>
        <ul>
            <li>サービスの提供および運営</li>
            <li>商品購入および配送のため</li>
            <li>お知らせやキャンペーン情報の通知</li>
            <li>ユーザーサポートの提供</li>
        </ul>

        <h2>3. 個人情報の管理</h2>
        <p>本サービスは、ユーザーの個人情報を安全かつ適切に管理するために、以下の措置を講じます：</p>
        <ul>
            <li>不正アクセスや紛失、破壊、改ざん、漏洩を防ぐための技術的および組織的なセキュリティ対策</li>
            <li>個人情報の取り扱いに関する従業員の教育</li>
        </ul>

        <h2>4. 第三者への提供</h2>
        <p>本サービスは、ユーザーの同意を得た場合、または法令に基づく場合を除き、個人情報を第三者に提供することはありません。</p>

        <h2>5. クッキー（Cookie）の使用</h2>
        <p>本サービスでは、ユーザー体験を向上させるためにクッキーを使用します。クッキーの使用を希望されない場合、ブラウザの設定を変更することで無効にすることができます。</p>

        <h2>6. プライバシー規約の変更</h2>
        <p>本規約は、必要に応じて変更されることがあります。重要な変更がある場合は、本サービス内で通知を行います。</p>

        <h2>7. お問い合わせ</h2>
        <p>プライバシー規約に関するお問い合わせは、以下の窓口までご連絡ください</p>
        <a href="/contact/">お問い合わせフォーム</a>

        <p class="text-center">以上</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">新規登録へ戻る</button>
          </form>
    </div>
    {% endblock %}

