{% extends 'base.html' %}
{% block title %}パスワードリセット WasteNot{% endblock %}

{% block content %}
<div class="account-container">
    <h2 class="text-center mb-3">パスワードをリセットしますか？</h2>
    <div class="account-inner">
        <div class="account-form">
            <p class="mb-0">
            登録済みのメールアドレスを入力してください。
            パスワードリセットのリンクを記載したメールをすぐにお届けします。
            </p>
            <br>
            <form action="" method="POST" class="text-center">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-primary account-btn">メールを送信</button><br>
            <a href="{% url 'dgroupapp:login' %}">キャンセル</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
