{% extends 'base.html' %}
{% block title %}パスワードリセット WasteNot{% endblock %}

{% block content %}
<div class="reset-form-container">
    <h2 class="text-center mb-3">パスワードリセット</h2>
        <div  class="reset-form">
            <h6>
            新しいパスワードを2回入力してください。これにより、
            正しく入力できたことが確認されます。
            </h6>
            <br>
            <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <div class="submit-btn-group">
                <button type="submit" class="btn btn-primary reset-btn">パスワードリセット</button>
            </div>
            </form>
        </div>
</div>
{% endblock %}