.navbar-img {
    width: 150px; /* 画像サイズを調整 */
    height: auto;
    margin-left: -50px; /* 必要に応じて調整 */
}

.custom-navbar {
    background-color: #fe85b7;
    font-size: 15px; /* 少し小さく調整 */
    padding: 0;
}

.custom-navbar .nav-item {
    color: #ffffff;
    margin-top: 5px; /* 余白を小さめに調整 */
}

.custom-navbar .nav-link {
    color: #ffffff;
    padding: 8px 12px; /* パディングを減らして調整 */
    display: block;
    text-align: left;
    margin-top: 5px;
}

.custom-navbar .nav-link:hover {
    color: #eeeeee;
}

.custom-btn {
    background-color: #ecebeb;
    color: #000000;
    border: 2px solid #000000;
}

.custom-btn:hover {
    background-color: #f0f0f0;
    color: #000000;
}

.search-form {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.search-input {
    height: 30px;
    font-size: 13px;
    margin-right: 3px;
    padding: 5px;
    width: 240px; /* 幅を縮小 */
    max-width: 260px; /* 最大幅を設定 */
    margin-top: 9px;
}

.search-button {
    height: 30px;
    font-size: 13px;
    padding: 5px 8px;
    margin-top: 9px;
}

.dropdown-toggle {
    font-size: 16px;
    line-height: 0.9;
    margin-left: 10px;
    margin-bottom: 2px;
}

.small-text {
    font-size: 14px;
    color: #ffffff;
}

.custom-header-img {
    width: 260px; /* 画像幅を縮小 */
    height: auto;
    margin: 0 auto;
}

.custom-header {
    padding-top: 3px;
    padding-bottom: 3px;
}

.card-img-top {
    width: auto;
    height: 200px; /* 高さを調整 */
    object-fit: cover;
}

.footer-link {
    text-decoration: none;
    color: #ffffff;
}

.footer-link:hover {
    text-decoration: underline;
}

.card {
    background-color: #fcfeff;
    width: 100%; /* カードの幅を少し狭める */
    max-width: 350px; /* 必要に応じて最大幅を設定 */
    margin: auto; /* カードを中央に配置 */
}

.btn-outline-dark {
    color: #343a40;
    border-color: #343a40;
    font-size: 13px; /* ボタンのフォントサイズを小さく */
    padding: 4px 6px; /* パディングを調整して小さく */
}


.btn-outline-dark:hover {
    background-color: #343a40;
    color: #ffffff;
}

.card-body .fw-bolder {
    color: #212529;
    font-size: 18px; /* フォントサイズを微調整 */
}

.card-body .price {
    color: #ff0707;
    font-size: 18px;
}

.card-body {
    padding: 2px 3px; /* パディングを小さく調整 */
}

.card-footer {
    padding: 2px 3px; /* パディングを小さく調整 */
}

.btn-outline-dark.mt-auto {
    margin-top: 5px; /* ボタン間の間隔を縮める */
}

/* アカウント切り替えページのスタイル */
.account-switch-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    color: #555;
}

.custom-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    transition: border-color 0.3s;
}

.custom-select:focus {
    border-color: #f57c00;
    outline: none;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-primary {
    background-color: #f57c00;
    border: none;
    color: #fff;
}

.btn-primary:hover {
    background-color: #e65100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-block {
    width: 100%;
}

@media (max-width: 600px) {
    .account-switch-form {
        padding: 15px;
    }

    .btn {
        font-size: 14px;
    }

    .custom-select {
        font-size: 14px;
    }
}



.superuser-option {
    background-color: #f8d7da; /* 明るい赤色 */
    color: #721c24; /* 赤い文字 */
    font-weight: bold;
}

.superuser-option:hover {
    background-color: #f5c6cb; /* ホバー時の色 */
}