.delete-img {
    width: 40%;  
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
}

.delete-text{
    max-width: 4em;
    text-align: center
}

.purchasetable{
    border-spacing: 0;
}

.purchasetable th,.purchasetable td{
    border-bottom: 2px solid #EEEEEE;
    padding: 10px;
}

.image-container{
    position: absolute;
    width: 300px;
    height: 450px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.hidden {
    display: none;
}



