* {
    box-sizing: border-box;
}

.delete-img {
    width: 40%;  
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
}

.delete-text{
    max-width: 4em;
    text-align: center
}

.purchasetable{
    width: 80%;
    table-layout: fixed;
    margin: 0 auto;
}

.purchasetable th,.purchasetable td{
    border-bottom: 1px solid #EEEEEE;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
}

.image-container{
    position: absolute;
    width: 300px;
    height: 450px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.hidden {
    display: none;
}

.select1 {
    display: block;
    width: 20%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select1:focus{
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);

}

