/* static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.menutitle {
    font-size: 25px;
    position: absolute;
    top: 50px;
    left: 32px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto; /* 中央配置 */
    
}

th, td {
    padding: 10px;
    text-align: left;
    border: 2px solid #ddd;
}

th {
    background-color: #f2f2f2;
}



.shipped {
    background-color: #d4edda; /* 配送済みの行の色 */
}

/* 検索フォーム全体のスタイル */
.searchnum {
    display: flex;
    justify-content: center; /* フォームを中央揃え */
    margin-top: 55px; /* 上部にスペースを追加 */
}

/* 入力フィールドのスタイル */
.search-input {
    background-color: #fbfefb;
    color: grey;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px; /* ボタンとの間にスペースを追加 */
    
}

/* 検索ボタンのスタイル */
.search-button {
    background-color: #4CAF50; /* 緑色の背景 */
    color: white; /* 文字色を白に */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 0px; /* ラベルとの間にスペースを追加 */
}

.search-button:hover {
    background-color: #45a049; /* ホバー時に少し色を変更 */
}

/* ラベルのスタイル */
.search-label {
    
    font-size: 14px;
    margin-right: 0px; /* セレクトボックスとの間にスペースを追加 */
}

/* セレクトボックスのスタイル */
.search-select {
    background-color: #f3f3f3;
    color: grey;
    padding: 7px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.button-group {
    display: inline-flex; /* ボタンを横に並べる */
    gap: 10px; /* ボタンの間にスペースを追加 */
}

form {
    margin: 0; /* フォーム間の余白をなくす */
}



button[disabled] {
    background-color: #ccc; /* 配送済みボタンは灰色に */
    cursor: not-allowed;
}

.delivery-date {
    margin-left: 10px; /* 配送ステータスとのスペースを調整 */
    color: gray; /* 配送日をグレーに */
}

