body {
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}


.navbar {
    display: flex;
    justify-content: space-around; /* 均等に配置 */
    background-color: #f8f9fa; /* 背景色 */
    padding: 20px 0; 
    margin-top: 65px; /* 上に余白を追加 */
}


.nav-button {
    display: flex; 
    flex-direction: column; /* 縦に並べる */
    align-items: center; /* 中央揃え */
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.4s;
}


/* 配送選択ボタン*/
.btn-order {
    background-color: #007bff;
    padding: 45px 75px;
}

.btn-order:hover {
    background-color: #0056b3;
}

/* 食品情報の入力ボタン */
.btn-food-input {
    background-color: #28a745;
    padding: 45px 75px;
}

.btn-food-input:hover {
    background-color: #218838;
}

/* 食品情報の削除ボタン */
.btn-food-delete {
    background-color: #dc3545;
    padding: 45px 75px;
}

.btn-food-delete:hover {
    background-color: #c82333;
}


/* サイトを表示ボタン */
.btn-site {
    position: absolute;
    top: 65px;
    right: 25px;
}


.btn-site:hover {
    color: #138496; /* ホバー時の青緑色 */
}


.menutitle {
    font-size: 25px;
    position: absolute;
    top: 50px;
    left: 32px;
}

.button-icon {
    width: 65px; /* アイコンの幅 */
    height: 60px; /* アイコンの高さ */
    margin-top: 10px; /* 文字との間に余白を追加 */
    display: block; /* ブロック要素にして文字の下に表示 */
    margin-left: auto; /* 中央揃え */
    margin-right: auto; /* 中央揃え */
}

.order_list {
    width: 65%;
    border-collapse: collapse;
    margin: 20px auto; /* 中央配置 */
    
}

.order_list th, .order_list td {
    padding: 3px;
    font-size: 14px; /* フォントサイズを小さく */
    text-align: left;
    border: 2px solid #ddd;
}

.order_list th {
    background-color: #f2f2f2;
}

th:nth-child(1), td:nth-child(1) {
    width: 130px; /* 配送ステータスの幅を150pxに設定 */
}
th:nth-child(2), td:nth-child(2) {
    width: 180px; /* 配送ステータスの幅を150pxに設定 */
}
th:nth-child(3), td:nth-child(3) {
    width: 60px; /* 配送ステータスの幅を150pxに設定 */
}
th:nth-child(4), td:nth-child(4) {
    width: 100px; /* 配送ステータスの幅を150pxに設定 */
}
th:nth-child(5), td:nth-child(5) {
    width: 230px; /* 配送ステータスの幅を150pxに設定 */
}
th:nth-child(6), td:nth-child(6) {
    width: 145px; /* 配送ステータスの幅を150pxに設定 */
}

.shipped {
    background-color: #d4edda; /* 配送済みの行の色 */
}

/* 検索フォーム全体のスタイル */
.searchnum {
    display: flex;
    justify-content: center; /* フォームを中央揃え */
    margin-top: 55px; /* 上部にスペースを追加 */
}

/* 入力フィールドのスタイル */
.search-input {
    background-color: #fbfefb;
    color: grey;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px; /* ボタンとの間にスペースを追加 */
    
}

/* 検索ボタンのスタイル */
.search-button {
    background-color: #4CAF50; /* 緑色の背景 */
    color: white; /* 文字色を白に */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 0px; /* ラベルとの間にスペースを追加 */
}

.search-button:hover {
    background-color: #45a049; /* ホバー時に少し色を変更 */
}

/* ラベルのスタイル */
.search-label {
    
    font-size: 14px;
    margin-right: 0px; /* セレクトボックスとの間にスペースを追加 */
}

/* セレクトボックスのスタイル */
.search-select {
    background-color: #f3f3f3;
    color: grey;
    padding: 7px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.button-group {
    display: inline-flex; /* ボタンを横に並べる */
    gap: 10px; /* ボタンの間にスペースを追加 */
}

form {
    margin: 0; /* フォーム間の余白をなくす */
}



button[disabled] {
    background-color: #ccc; /* 配送済みボタンは灰色に */
    cursor: not-allowed;
}

.delivery-date {
    margin-left: 10px; /* 配送ステータスとのスペースを調整 */
    color: gray; /* 配送日をグレーに */
}

.pagination {
    text-align: center; /* 中央揃え */
    margin: 20px 0; /* 上下の余白を調整 */
}

.step-links a {
    margin: 0 5px; /* リンク間の余白を調整 */
    text-decoration: none; /* 下線を消す */
}

.step-links .current {
    font-weight: bold; /* 現在のページを太字に */
}

/* 食品追加画面 */
.input_page {
    padding-bottom: 5%;
}

.input_form {
    border-radius: 10px;
    box-shadow: 0 4px 4px #c1d6de; /* ボックスのドロップシャドウを設定 */
    padding: 10px;
    max-width: 700px; /* フォームの横幅を設定 */
    margin: 30px auto; /* 中央配置*/
}

.food_input {
    margin: 20px auto; /* ボックス内の中央に配置 */
}

.food_input th {
    padding-bottom: 10px;
    padding-right: 5px;
    font-size: 1.1rem;
}

.food_input td {
    padding-bottom: 18px; /* 入力ボックス間の余白を設定*/
}

#id_allergy label, .food_input input[type="checkbox"] {
    cursor: pointer; /* カーソルを設定 */
}

.food_input select,
.food_input input[type="text"],
.food_input input[type="number"],
.food_input input[type="date"] {
    border: 1.5px solid #a2afca; /* 入力ボックスの枠線 */
    border-radius: 4px;
    font-size: 1rem;
}

select[name="category"] {
    width: 406.67px;
    height: 44.67px;
}

.food_input input[type="text"],
.food_input input[type="number"] {
    width: 400px;
    height: 40px;
}

input[name="shelf_life"] {
    width: 200px;
    height: 42px;
}

/* チェックボックスのデザイン */
.food_input input[type="checkbox"] {
    appearance: none;
    margin: 0;
    margin-right: 3px;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    border-radius: 3px;
    border-width: 1px;
    border: 1.5px solid;
    border-color: #a2afca;
    background-color: #fff;
    position: relative;
    top: -2px;
}

/* チェック後のデザイン */
.food_input input[type="checkbox"]:checked {
border-color: #0c456d;
background-color: #0c456d;
background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6L9 17l-5-5"/></svg>');
background-size: 100% auto;
background-repeat: no-repeat;
background-position: center;
}

#id_allergy {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 1行に4つの列を作成 */
    gap: 10px 7px; /* チェックボックス間の余白を設定 */

}

div label {
    display: block;
    width: 155px;
}

/* 追加ボタンのデザイン */
.input_btn {
    background-color: #0d6efd; /* 青色の背景 */
    color: white; /* 文字色を白に */
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.input_btn:hover {
    background-color: #0b5ed7; /* ホバー時に少し色を変更 */
}


