{% extends 'base.html' %}
{% block title %}{{ object.name }} WasteNot{% endblock %}
{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ object.image.url }}" alt="..." style="width: 100%; height: 100%" /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{ object.name }}</h1>
                <style>
                    form input[type="number"]::-webkit-outer-spin-button,
                    form input[type="number"]::-webkit-inner-spin-button {
                        -webkit-appearance: none !important;
                        margin: 0 !important;
                        appearance: none !important;
                    }

                    form input[type="number"] {
                        -moz-appearance: textfield !important;
                        appearance: none !important;
                    }

                    .select1 {
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                </style>
                <form action="{% url 'purchaseapp:buysuccess' object.stripe_product_id %}" method="POST" onsubmit="cartinput()">
                    <p class="lead">値段　　　　　<span class="fs-5">￥{{ object.price }}</span></p>
                    <p class="lead">賞味期限　　　<span class="fs-5">{{ object.shelf_life }}</span></p>
                    <p class="lead">アレルギー　　{{ object.allergy }}</p>
                    <p class="lead">カテゴリー　　{{ object.category }}</p>
                    <div class="d-flex mb-3">
                        <p class="lead">数量　　　　　</p>
                        <select name="addstock" class="select1">
                            {% for i in numlist %}
                            <option value="{{ i }}">{{ i }}
                            {% endfor %}
                        </select>
                    </div>
                    {% csrf_token %}
                    <div class="d-flex">
                        <button class="btn btn-outline-primary flex-shrink-0 mt-0 w-50" type="submit">
                            <i class="bi-cart-fill me-1"></i>カートに入れる
                        </button>
                        <a href="{% url 'index' %}"class="btn btn-secondary mx-3 my-2">キャンセル</a>
                    </div>
                    <p>在庫数：{{ maxnum }}</p>
                </form>
            </div>
        </div>
    </div>
</section>
{% if user.is_authenticated %}
<script>
    function cartinput(){
        alert('買い物かごに追加しました')
    }
</script>
{% endif %}
{% endblock %}
