{% extends 'base.html' %}
{% block title %}買い物かご内容{% endblock %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"><font color="white">買い物かご</font></h1>
        </div>
    </div>
</header>
<section class="py-5">
    <style>
        .input_btn {
            background-color: #0d6efd; /* 青色の背景 */
            color: white; /* 文字色を白に */
            padding: 11.5px 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .input_btn:hover {
            background-color: #0b5ed7; /* ホバー時に少し色を変更 */
        }
    </style>
    {% if object_list.count == 0 %}
    <div style="text-align: center">
        <h3>買い物かごに商品がありません</h3>
        <a href="{% url 'index' %}" class="btn btn-secondary mt-4">買い物を続ける</a>
    </div>
    {% else %}
    {% if errorname_list %}
    <div style="text-align: center">
        <p><font color="red">在庫が不足しています</font></p>
    </div>
    {% endif %}
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-min-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for record in object_list %}
                {% if record.stripe_product_id in errorname_list %}
                    {% for i in error_list %}
                        {% if i.0 == record.stripe_product_id %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem; background-color: red !important">数量:{{ record.stock }}</div>
                                <!-- Product image-->
                                <img src="{{ record.aitemimage.url }}" class="card-img-top" height="150px" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ record.aitemname }}</h5>
                                        <!-- Product price-->
                                        <span class="price">￥{{ record.price }}</span><br>
                                        <span class="shelf">賞味期限<br>{{ record.shelf }}</span>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <form method="POST">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" onclick="location.href='{% url 'purchaseapp:over' record.pk %}'">詳細・数量変更</a></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">数量:{{ record.stock }}</div>
                            <!-- Product image-->
                            <img src="{{ record.aitemimage.url }}" class="card-img-top" height="150px" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ record.aitemname }}</h5>
                                    <!-- Product price-->
                                    <span class="price">￥{{ record.price }}</span><br>
                                    <span class="shelf">賞味期限<br>{{ record.shelf }}</span>
                            </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <form method="POST">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" onclick="location.href='{% url 'purchaseapp:purchase_delete' record.pk %}'">詳細・数量変更</a></div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="text-center"><a class="btn input_btn my-2" onclick="location.href='{% url 'purchaseapp:purchase' user.id %}'">購入</a>
    <a href="{% url 'index' %}"class="btn btn-secondary my-2">トップページに戻る</a>
    </div>
    {% endif %}
</section>
{% endblock %}