{% extends 'base.html' %}
{% block title %}詳細{% endblock %}
{% block content %}
    {% if object %}
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ object.aitemimage.url }}" alt="..." style="width: 100%; height: 100%"" /></div>
                    <div class="col-md-6">
                        <div style="word-break: break-word; overflow-wrap: break-word;">
                        <h1 class="display-5 fw-bolder">{{ object.aitemname }}</h1>
                        <div class="fs-5 mb-5">
                            <span>￥{{ object.price }}</span>
                        </div>
                        <table class="lead">
                            <tr>
                                <td>
                                    賞味期限　　　
                                </td>
                                <td>
                                    {{ object.shelf }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    アレルギー
                                </td>
                                <td>
                                    {{ object.allergy }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    カテゴリー
                                </td>
                                <td>
                                    {{ object.category }}
                                </td>
                            </tr>
                        </table>
                        <form method="POST">
                            <div class="d-flex">
                                {% csrf_token %}
                                <a href="{% url 'purchaseapp:purchase' user.id %}"class="btn btn-secondary my-2">戻る</a>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
    <br><br>
    <div style="text-align: center">
        <h3>商品の有効期限が切れました</h3>
    </div>
    <br>
    <div class="text-center"><a class="btn btn-secondary my-2" onclick="location.href='{% url 'dgroupapp:index' %}'">トップページに戻る</a></div>
    <br>
    {% endif %}
{% endblock %}