{% extends 'base.html' %}
{% block title %}買い物かご内容{% endblock %}

{% block contents %}
<!-- Header-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <table class="purchasetable">
                <tr>
                    <th>商品名</th>
                    <th>価格</th>
                    <th></th>
                </tr>
                {% for record in object_list %}
                <tr>
                    <td>{{ record.aitemname }}</td>
                    <td>￥{{ record.price }}</td>
                    <td><a href="{% url 'purchaseapp:detail' record.pk %}">詳細</a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>支払額</td>
                    <td>￥{{ totalprice }}</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="text-center">
        <br>
        <form method="GET">
            <p>
                住所:<input type="text" name="address">
            </p>
            <p>
                支払方法:
                <select name="payment">
                    <option value="0">--------</option>
                    <option value="1">クレジットカード決済</option>
                    <option value="2">クレジットカード決済</option>
                    <option value="3">クレジットカード決済</option>
                    <option value="4">代金引換</option>
                </select>
            </p>
            <br>
            <a class="btn btn-outline-dark mt-auto" onclick="location.href='{% url 'purchaseapp:purchase' user.id %}'">購入</a>
        </form>
    </div>
</section>

{% endblock %}