{% extends 'base.html' %}
{% block title %}買い物かご内容{% endblock %}

{% block content %}
{% if object_list %}
<section class="py-5">
    <section class="py-5">
    <style>
        .input_btn {
            background-color: #0d6efd; /* 青色の背景 */
            color: white; /* 文字色を白に */
            padding: 11.5px 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .input_btn:hover {
            background-color: #0b5ed7; /* ホバー時に少し色を変更 */
        }
        form2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 20px;
        }    
    </style>
    <div style="background-color: white; border: solid 1px white; padding: 1px; border-radius: 10px; margin: 1% 3%; box-shadow: 0 0 8px gray;">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="text-center">
            <table class="purchasetable">
                <tr>
                    <th>商品名</th>
                    <th>価格</th>
                    <th>個数</th>
                    <th></th>
                </tr>
                {% for record in object_list %}
                <tr>
                    <td>{{ record.aitemname }}</td>
                    <td>￥{{ record.price }}</td>
                    <td>{{ record.stock }}</td>
                    <td><a href="{% url 'purchaseapp:detail' record.pk %}">詳細</a>
                    </td>
                </tr>
                {% endfor %}
                {% if totalprice < 1000 %}
                    <tr>
                        <td>送料</td>
                        <td>￥150</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
                {% if totalprice < 1000 %}
                <tr>
                    <td>支払額</td>
                    <td>￥{{ totalprice|add:"150" }}</td>
                    <td>{{ totalstock }}</td>
                    <td></td>
                </tr>
                {% else %}
                <tr>
                    <td>支払額</td>
                    <td>￥{{ totalprice }}</td>
                    <td>{{ totalstock }}</td>
                    <td></td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
        <br>
        <form2 action="{% url 'create-checkout-session' %}" method="POST">
            <div class="text-align: center">
                {% csrf_token %}
                    <label for="zipcode">郵便番号</label>
                    <input type="text" name="postnumber" id="zipcode" oninput="fetchAddress()" value="{{ user.postal_code }}" style="width: 200px" class="input1" title="郵便番号は7桁の半角数字で入力してください" pattern="^\d{7}$" required>
                    <br>
                    住所
                    <input type="text" name="address" id="address" style="width: 200px" title="長野市篠ノ井地域のみ" pattern=".*長野市篠ノ井.*" class="input1" required>
                    <br>
                    支払方法
                    <select name="payment" id="select" style="width: 200px" class="select1">
                        <option value="0">--------</option>
                        <option value="1">クレジットカード決済</option>
                        <option value="2">代金引換</option>
                    </select>
                <br>
                <div id="message1" class="hidden">
                    <button class="btn input_btn my-2" type="submit" name="credit">購入画面に進む</button>
                    <a href="{% url 'purchaseapp:cart' user.id %}"class="btn btn-secondary my-2">戻る</a>
                </div>

                <div id="message2" class="hidden">
                    <button class="btn input_btn my-2" type="submit" name="cash">購入画面に進む</button>
                    <a href="{% url 'purchaseapp:cart' user.id %}"class="btn btn-secondary my-2">戻る</a>
                </div>

                <div id="message0" class="hidden">
                    <a href="{% url 'purchaseapp:cart' user.id %}"class="btn btn-secondary my-2">戻る</a>
                </div>
                <br>
                <script>
                    const select = document.getElementById("select");
                    const message1 = document.getElementById("message1");
                    const message2 = document.getElementById("message2");
                    const message0 = document.getElementById("message0");
                    message1.classList.add('hidden');
                    message2.classList.add('hidden');
                    message0.classList.remove('hidden')

                    select.addEventListener("change", (event) => {
                        const value = event.target.value;
                        message1.classList.toggle("hidden", value !== "1");
                        message2.classList.toggle("hidden", value !== "2");
                        message0.classList.toggle("hidden", value !== "0");                        
                    });

                    function fetchAddress() {
                        var zipcode = document.getElementById('zipcode').value;
                        if (zipcode.length === 7) {
                            fetch(`https://api.zipaddress.net/?zipcode=${zipcode}`, { mode: 'cors' })
                            .then(response => response.json())
                            .then(data => {
                                if (data.code === 200) {
                                document.getElementById('address').value = data.data.fullAddress;
                                } else {
                                document.getElementById('address').value = '住所が見つかりません';
                                }
                            })
                            .catch(error => console.error('エラーが発生しました:', error));
                        }
                    }

                    window.onload = function(){
                        fetchAddress();
                    };

                </script>
            </div>
        </form>
    </div>
</section>
{% else %}
    <br><br>
    <div style="text-align: center">
        <h3>商品の有効期限が切れました</h3>
    </div>
    <br>
    <div class="text-center"><a class="btn btn-secondary my-2" onclick="location.href='{% url 'dgroupapp:index' %}'">トップページに戻る</a></div>
    <br>
{% endif %}
{% endblock %}