{% extends 'base.html' %}
{% block title %}買い物かご内容{% endblock %}

{% block content %}
<!-- Header-->
<section class="py-5">
    <div style="background-color: white; border: solid 1px white; padding: 1px; border-radius: 10px; margin: 10px 150px; box-shadow: 0 0 8px gray;">
        <div class="container px-4 px-lg-5 mt-5">
            <table class="purchasetable">
                <tr>
                    <th>商品名</th>
                    <th>価格</th>
                    <th>個数</th>
                    <th></th>
                </tr>
                {% for record in object_list %}
                <tr>
                    <td>{{ record.aitemname }}</td>
                    <td>￥{{ record.price }}</td>
                    <td>{{ record.stock }}</td>
                    <td><a href="{% url 'purchaseapp:detail' record.pk %}">詳細</a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>送料</td>
                    <td>￥150</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>支払額</td>
                    <td>￥{{ totalprice }}</td>
                    <td>{{ totalstock }}</td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="text-center">
            <br>
            <form action="{% url 'success' %}" method="POST">
                {% csrf_token %}
                <p>
                    住所:　　{{ address }}
                </p>
                <p>
                    発送方法:{{ delivery }}
                </p>
                <p>
                    支払方法:代金引換
                </p>
                <br>
                    <button class="btn btn-outline-dark flex-shrink-0" type="submit" name="credit">購入確定</button>

            </form>
        </div>
    </div>
</section>


{% endblock %}