{% extends 'base.html' %}
{% block title %}買い物かご内容{% endblock %}

{% block content %}
{% if object_list %}
<section class="py-5">
    <a href="{% url 'purchaseapp:cart' user.id %}">戻る</a>
    <div style="background-color: white; border: solid 1px white; padding: 1px; border-radius: 10px; margin: 10px 150px; box-shadow: 0 0 8px gray;">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="text-center">
            <table class="purchasetable">
                <tr>
                    <th>商品名</th>
                    <th>価格</th>
                    <th>個数</th>
                    <th></th>
                </tr>
                {% for record in object_list %}
                <tr>
                    <td>{{ record.aitemname }}</td>
                    <td>￥{{ record.price }}</td>
                    <td>{{ record.stock }}</td>
                    <td><a href="{% url 'purchaseapp:detail' record.pk %}">詳細</a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>送料</td>
                    <td>￥150</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>支払額</td>
                    <td>￥{{ totalprice }}</td>
                    <td>{{ totalstock }}</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="text-center">
        <br>
        <form action="{% url 'create-checkout-session' %}" method="POST">
            {% csrf_token %}
            <p>
                住所:　　 <input type="text" name="address" value="{{ user.address }}" style="width: 200px" required>
            </p>
            <p>
                発送方法:
                <select name="delivery" style="width: 200px">
                    <option value="standard">通常配送</option>
                    <option value="express">速達配送</option>
                </select>
            </p>
            <p>
                支払方法:
                <select name="payment" id="select" style="width: 200px">
                    <option value="0">--------</option>
                    <option value="1">クレジットカード決済</option>
                    <option value="2">代金引換</option>
                </select>
            </p>
            <br>
            <div id="message1" class="hidden">
                <button class="btn btn-outline-dark flex-shrink-0" type="submit" name="credit">購入画面に進む</button>
            </div>

            <div id="message2" class="hidden">
                <button class="btn btn-outline-dark flex-shrink-0" type="submit" name="cash">購入画面に進む</button>
            </div>

            <script>
                const select = document.getElementById("select");
                const message1 = document.getElementById("message1");
                const message2 = document.getElementById("message2");
                
                select.addEventListener("change", (event) => {
                    const value = event.target.value;
                    message1.classList.toggle("hidden", value !== "1");
                    message2.classList.toggle("hidden", value !== "2");
                    
                });
            </script>

        </form>
    </div>
    </div>
</section>
{% else %}
カートに商品がありません
{% endif %}
{% endblock %}