{% extends 'system_base.html' %}

{% block title %}食品情報変更 WasteNot/管理システム{% endblock %}

{% block content %}
<div class="input_page">
    <a href="{% url 'system_menu' %}" class="btn-site">戻る</a>
    <h2 class="menutitle">食品情報変更</h2>
    <form method="POST" enctype="multipart/form-data" class="input_form" onsubmit="return foodConfirm()">
        {% csrf_token %}
        <table class="food_input">
            <tr>
                <th>カテゴリ</th>
                <td>{{ form.category }}</td>
            </tr>
            <tr>
                <th>商品名</th>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <th>価格</th>
                <td>{{ form.price }}</td>
            </tr>
            <tr>
                <th>在庫数</th>
                <td>{{ form.stock }}</td>
            </tr>
            <tr>
                <th>賞味期限</th>
                <td>{{ form.shelf_life }}</td>
            </tr>
            <tr>
                <th>アレルギー</th>
                <td>{{ form.allergy }}</td>
            </tr>
            <tr>
                <th>写真</th>
                <td>{{ form.image }}</td>
            </tr>
        </table>
        <div align = "right">
            <button type="submit" class="input_btn">変更する</button> 
        </div>
    </form>
    <div id="toast" class="toast"></div>
</div>
<script>
    // トースト通知を表示する関数
    function showToast(message) {
        var toast = document.getElementById("toast");
        toast.className = "toast show";
        toast.innerText = message;
        setTimeout(function(){ toast.className = toast.className.replace("show", ""); }, 3000);
    }

    function foodConfirm() {
        const conf = confirm('変更を保存しますか？');
        if (conf) {
            showToast("食品情報を変更しました。");
            return true; // フォームを送信
        } else {
            event.preventDefault();
            return false; // フォームを送信しない
        }
    }
</script>
{% endblock %}
