{% extends 'system_base.html' %}

{% block title %}食品情報編集 WasteNot/管理システム{% endblock %}

{% block content %}
<div class="input_page">
    <h2 class="menutitle">食品情報編集</h2>
    <form method="POST" enctype="multipart/form-data" class="input_form">
        {% csrf_token %}
        <table class="food_input">
            <tr>
                <th>カテゴリ</th>
                <td>{{ form.category }}</td>
            </tr>
            <tr>
                <th>商品名</th>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <th>価格</th>
                <td>{{ form.price }}</td>
            </tr>
            <tr>
                <th>在庫数</th>
                <td>{{ form.stock }}</td>
            </tr>
            <tr>
                <th>賞味期限</th>
                <td>{{ form.shelf_life }}</td>
            </tr>
            <tr>
                <th>アレルギー</th>
                <td>{{ form.allergy }}</td>
            </tr>
            <tr>
                <th>写真</th>
                <td>{{ form.image }}</td>
            </tr>
        </table>
        <div align = "right">
            <button type="submit" class="input_btn">編集を保存する</button> 
        </div>
    </form>
    <a href="{% url 'foods:food_delete_list' %}">戻る</a>
    <br>
</div>
{% endblock %}