{% extends "base.html" %}

{% block title %}住所の編集{% endblock %}

{% block content %}
<div class="container">
    <hr>

    <form method="POST" class="custom-address-edit-form">
        <script>
            function fetchAddress() {
                var zipcode = document.getElementById('zipcode').value;
                if (zipcode.length === 7) {
                    fetch(`https://api.zipaddress.net/?zipcode=${zipcode}`, { mode: 'cors' })
                    .then(response => response.json())
                    .then(data => {
                        if (data.code === 200) {
                        document.getElementById('address').value = data.data.fullAddress;
                        } else {
                        document.getElementById('address').value = '住所が見つかりません';
                        }
                    })
                    .catch(error => console.error('エラーが発生しました:', error));
                }
            }
        </script>
        {% csrf_token %}
        


        <div class="form-group">
            <label for="postal_code" class="custom-label">郵便番号</label>
            <input id="zipcode" oninput="fetchAddress()" name="postal_code" type="text" class="custom-form-control" value="{{ form.postal_code.value }}">
            {% if form.postal_code.errors %}
                <div class="error-message">
                    {% for error in form.postal_code.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="address" class="custom-label">お届け先住所</label>
            <input id="address" name="address" type="text" class="custom-form-control" value="{{ form.address.value }}">
            {% if form.address.errors %}
                <div class="error-message">
                    {% for error in form.address.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary custom-submit-btn">住所を更新する</button>
    </form>
    
    <br>
</div>
{% endblock %}
