{% extends "base.html" %}

{% block title %}プロフィール編集{% endblock %}

{% block content %}
<div class="custom-profile-edit-container">
    <h3 class="custom-profile-edit-title">プロフィール編集</h3>
    <form method="post" class="custom-profile-edit-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn custom-save-btn">保存</button>
    </form>
    <a href="{% url 'dgroupapp:profile' %}" class="btn custom-cancel-btn">キャンセル</a>
</div>
<script>
    function fetchAddress() {
        var zipcode = document.getElementById('zipcode').value;
        if (zipcode.length === 7) {
            fetch(`https://api.zipaddress.net/?zipcode=${zipcode}`, { mode: 'cors' })
            .then(response => response.json())
            .then(data => {
                if (data.code === 200) {
                document.getElementById('address').value = data.data.fullAddress;
                } else {
                document.getElementById('address').value = '住所が見つかりません';
                }
            })
            .catch(error => console.error('エラーが発生しました:', error));
        }
    }
</script>

{% endblock %}

