{% extends "base.html" %}

{% block title %}住所の編集{% endblock %}

{% block content %}
<div class="container">
    <hr>

    <form method="POST" class="custom-address-edit-form">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="address" class="custom-label">お届け先住所</label>
            <input id="address" name="address" type="text" class="custom-form-control" value="{{ user.address }}">
        </div>

        <div class="form-group">
            <label for="postal_code" class="custom-label">郵便番号</label>
            <input id="postal_code" name="postal_code" type="text" class="custom-form-control" value="{{ user.postal_code }}" maxlength="7">
        </div>

        <button type="submit" class="btn btn-primary custom-submit-btn">住所を更新する</button>
    </form>

    <br>
</div>
{% endblock %}
