{% extends "base.html" %}
{% load static %}

{% block title %}WasteNot{% endblock %}

{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
    const container = document.querySelector('.category-container');

    function scrollLeft() {
        container.scrollBy({ left: -150, behavior: 'smooth' });
    }

    function scrollRight() {
        container.scrollBy({ left: 150, behavior: 'smooth' });
    }
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.slide-slick1-parts').slick({
            autoplay: true,        // 自動再生
            autoplaySpeed: 2800,   // スライドが切り替わるまでの時間（ミリ秒）
            dots: true,            // ナビゲーションのドットを表示
            arrows: false         // 矢印を非表示
        });
    });
</script>



<aside class="slide-slick1-parts">
    <div><img src="{% static 'assets/img/famima.jpeg' %}" alt=""></div>
    <div><img src="{% static 'assets/img/ad.png' %}" alt=""></div>
    <div><img src="{% static 'assets/img/famima.jpeg' %}" alt=""></div>
</aside>


<section>
    <div class="pickup">
        <h2 style="text-align: center;">賞味期限が遠い商品<br>-セール中-</h2>

        <<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for record in recommended_items %}
            <div class="col mb-5">
                <div class="card h-100">
                <!-- 商品画像 -->
                <img class="card-img-top" src="{{ record.image.url }}" width="100%" height="100%" alt="{{ record.name }}">
                <a href="{% url 'purchaseapp:buy' record.pk %}" data-lightbox="group1" data-title="{{ record.name }}">
                
                </a>
                <!-- 商品詳細 -->
                <div class="card-body p-4">
                    <div class="text-center">
                        <h5 class="fw-bolder">{{ record.name }}</h5>
                        <span class="price">￥{{ record.price }}</span><br>
                        <span class="shelf">賞味期限<br>{{ record.shelf_life }}</span>
                    </div>
                </div>
                <!-- 商品アクション -->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="{% url 'purchaseapp:buy' record.pk %}">商品詳細</a>
                    </div>
                </div>
            </div>
            </div>
            {% empty %}
            <p>おすすめ商品がありません。</p>
            {% endfor %}
        </div>
    </div>
</section>



<!-- 流れるアニメーション付き横スライド -->
<div class="scroll-infinity py-3">
    <div class="scroll-infinity__wrap">
      <ul class="scroll-infinity__list scroll-infinity__list--left">
        <li class="scroll-infinity__item"><img src="{% static 'assets/img/familymart.png' %}"  /></li>                        
        <li class="scroll-infinity__item"><img src="{% static 'assets/img/lawson.png' %}"  /></li>      
        <li class="scroll-infinity__item"><img src="{% static 'assets/img/seven_eleven.png' %}"  /></li>      
        <li class="scroll-infinity__item"><img src="{% static 'assets/img/familymart.png' %}"  /></li>                        
        <li class="scroll-infinity__item"><img src="{% static 'assets/img/lawson.png' %}"  /></li>      
        <li class="scroll-infinity__item"><img src="{% static 'assets/img/seven_eleven.png' %}"  /></li>          
      </ul>
      <ul class="scroll-infinity__list scroll-infinity__list--left">
        <li class="scroll-infinity__item"><img src="{% static 'assets/img/familymart.png' %}"  /></li>                        
        <li class="scroll-infinity__item"><img src="{% static 'assets/img/lawson.png' %}"  /></li>      
        <li class="scroll-infinity__item"><img src="{% static 'assets/img/seven_eleven.png' %}"  /></li>      
        <li class="scroll-infinity__item"><img src="{% static 'assets/img/familymart.png' %}"  /></li>                        
        <li class="scroll-infinity__item"><img src="{% static 'assets/img/lawson.png' %}"  /></li>      
        <li class="scroll-infinity__item"><img src="{% static 'assets/img/seven_eleven.png' %}"  /></li>          
      </ul>
    </div>
</div>


<div class="category-header">
    <div class="category-container">
        {% for category in categorys %}
        <div class="category-card">
            <!-- カテゴリ画像をクリックするとカテゴリページに遷移 -->
            <a href="{% url 'dgroupapp:category_view' category.id %}">
                <img src="{{ category.image.url }}" alt="カテゴリ画像">
                <p>{{ category.title }}</p>
            </a>
            
        </div>
        {% empty %}
        <p>カテゴリがありません。</p>
        {% endfor %}
    </div>
    
</div>


<section>
    <div class="container px-4 px-lg-5 mt-1">
        <h2 style="text-align: center;">商品一覧</h2>
        

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for record in object_list %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- 商品画像 -->
                    <img class="card-img-top" src="{{ record.image.url }}" width="100%" height="100%" alt="..." />
                    <!-- 商品詳細 -->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ record.name }}</h5>
                            <span class="price">￥{{ record.price }}</span><br>
                            <span class="shelf">賞味期限<br>{{ record.shelf_life }}</span>
                        </div>
                    </div>
                    <!-- 商品アクション -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="{% url 'purchaseapp:buy' record.pk %}">商品詳細</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}












