<!-- login.html -->
{% extends "base.html" %}

{% block title %}ログイン WasteNot{% endblock %}

{% block content %}
<div class="account-container">
    <h2 class="text-center mb-3">ログイン</h2>
    <div class="account-inner">
        <form method="post" class="account-form">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div style="color:#e41b1b">{{ form.non_field_errors }}</div>
            {% endif %}
            <div class="form-group mb-3">
                <label>{{ form.username.label }}</label>
                {{ form.username }}<br>
            </div>
            <div class="form-group">
                <label>{{ form.password.label }}</label>
                {{ form.password }}<br>
            </div>
            <button type="submit" class="btn btn-primary account-btn">ログイン</button><br>
            <a href="{% url 'password_reset' %}">パスワードを忘れた方はこちら</a>
        </form>
    </div>
</div>
{% endblock %}
